.modal-dialog{
  max-width: 920px;
}
.reserve-img{
  width: 282px;
  height: 282px;
  @include pad(){
    width: 150px;
    height: 150px;
  }
  @include mobile(){
    width: 100px;
    height: 100px;
  }
}
.successModalBtn{
  width: 350px;
  @include pad{
    width: 330px;
  }
  @include mobile(){
    width: 294px;
  }
}