.logo{
  background-image: url("../../assets/images/logo.svg");
  width: 121px;
  height: 55px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space:nowrap;
}
.navbar{
  padding: 5px 0;
}