<div class="modal fade" id="reserveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container">
        <div class="d-block d-md-none mb-10">
          <div class="timeLine bg-secondary d-flex justify-content-around w-100">
            <div class="timePoint lh-9">預約項目</div>
            <div class="timePoint lh-9">預約資料</div>
            <div class="timePoint lh-9">付款資訊</div>
          </div>
        </div>
        <div class="row flex-column-reverse flex-lg-row">
          <div class="col-12 col-lg-8">
            <h2 class="d-none d-lg-block fs-xl lh-9 mb-8 text-primary">預約項目</h2>
            <ul class="row mb-6 mb-md-7">
              <li class="col-3">
                <div class="reserveItem d-flex flex-column justify-content-center align-items-center rounded">
                  <span class="material-icons">house</span>
                  <p class="fs-l lh-7 fs-md-4 lh-md-6">寄宿</p>
                </div>
              </li>
              <li class="col-3">
                <div class="reserveItem d-flex flex-column justify-content-center align-items-center rounded">
                  <span class="material-icons">wash</span>
                  <p class="fs-l lh-7 fs-md-4 lh-md-6">美容</p>
                </div>
              </li>
              <li class="col-3">
                <div class="reserveItem d-flex flex-column justify-content-center align-items-center rounded">
                  <span class="material-icons">roofing</span>
                  <p class="fs-l lh-7 fs-md-4 lh-md-6">到府保姆</p>
                </div>
              </li>
              <li class="col-3">
                <div class="reserveItem d-flex flex-column justify-content-center align-items-center rounded">
                  <span class="material-icons">directions_walk</span>
                  <p>遛狗保姆</p>
                </div>
              </li>
            </ul>
            <label class="mb-1">選擇日期</label>
            <div class="d-flex flex-column flex-md-row align-items-center">
              <div class="d-flex align-items-center w-100">
                <select class="custom-select rounded-sm mb-2 mb-md-5" id="sex" aria-label="Example select with button addon">
                  <option value="1" selected="">2020-11-20</option>
                  <option value="2">2020-11-21</option>
                </select>
                <span class="mx-2 mb-5">至</span>
              </div>
              <div class="d-flex align-items-center w-100">
                <select class="custom-select rounded-sm mb-5" id="sex" aria-label="Example select with button addon">
                  <option value="1" selected="">2020-11-20</option>
                  <option value="2">2020-11-21</option>
                </select>
                <span class="text-nowrap ml-2 mb-5">共 1 晚</span>
              </div>
            </div>
            <div class="reserveSelect d-flex w-100">
              <div class="selectItem mr-7 mr-md-6">
                <label class="mb-1 text-nowrap">毛孩數量</label>
                <select class="custom-select rounded-sm" id="sex" aria-label="Example select with button addon">
                  <option value="1" selected="">1隻</option>
                  <option value="2">2隻</option>
                </select>
              </div>
              <div class="selectItem mr-7 mr-md-6">
                <label class="mb-1 text-nowrap">您的毛孩是</label>
                <select class="custom-select rounded-sm" id="sex" aria-label="Example select with button addon">
                  <option value="1" selected="">貓</option>
                  <option value="2">狗</option>
                </select>
              </div>
              <div class="selectItem mr-7 mr-md-6">
                <label class="mb-1 text-nowrap">年齡</label>
                <select class="custom-select rounded-sm" id="sex" aria-label="Example select with button addon">
                  <option value="1" selected="">1歲</option>
                  <option value="2">2歲</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <h2 class="d-block d-lg-none fs-xl lh-9 mb-3 text-primary">預約項目</h2>
            <div class="d-flex flex-lg-column">
              <img class="modal-img of-cover mb-6 mb-md-5 mb-lg-2 mr-3 mr-md-7 mr-lg-0" src="./assets/images/homestay-3.jpeg" alt="">
              <div class="d-flex flex-column justify-content-center text-primary">
                <div class="d-flex flex-column flex-md-row align-items-md-center mb-1 mb-md-2">
                  <h2 class="fs-l lh-7 mr-2">毛孩好家</h2>
                  <div class="star text-light-secondary">
                    <span class="material-icons">grade</span>
                    <span class="material-icons">grade</span>
                    <span class="material-icons">grade</span>
                    <span class="material-icons">grade</span>
                    <span class="material-icons">grade</span>
                  </div>
                </div>
                <div class="d-flex">
                  <span class="material-icons text-secondary">location_on</span>
                  <p>高雄市苓雅區、新興區、前鎮區</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row flex-row-reverse flex-lg-row">
          <div class="col-12 col-lg-8 d-none d-md-block">
            <div class="timeLine bg-secondary d-flex justify-content-around w-100 mb-0 mb-md-14">
              <div class="timePoint lh-9">預約項目</div>
              <div class="timePoint lh-9">預約資料</div>
              <div class="timePoint lh-9">付款資訊</div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <button type="button" class="btn btn-secondary w-100 fs-l lh-7 py-2" data-toggle="modal" data-target="#infoModal" data-dismiss="modal">下一步</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>