<!-- reserveModal -->
<div class="modal fade" id="reserveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container">
        <div class="row flex-column-reverse flex-lg-row">
          <div class="col-12 col-lg-8">
            <h2 class="d-none d-lg-block">預約項目</h2>
            <ul class="d-flex">
              <li><span class="material-icons">house</span>寄宿</li>
              <li><span class="material-icons">wash</span>美容</li>
              <li><span class="material-icons">roofing</span>到府保姆</li>
              <li><span class="material-icons">directions_walk</span>遛狗保姆</li>
            </ul>
            <label>選擇日期</label>
            <div class="d-flex flex-column flex-md-row align-items-center">
              <div class="d-flex align-items-center w-100">
                <select class="custom-select rounded-sm" id="sex" aria-label="Example select with button addon">
                  <option value="1" selected="">2020-11-20</option>
                  <option value="2">2020-11-21</option>
                </select>
                <span>至</span>
              </div>
              <div class="d-flex align-items-center w-100">
                <select class="custom-select rounded-sm" id="sex" aria-label="Example select with button addon">
                  <option value="1" selected="">2020-11-20</option>
                  <option value="2">2020-11-21</option>
                </select>
                <span class="text-nowrap">共 1 晚</span>
              </div>
            </div>
            <div class="d-flex">
              <div>
                <label>毛孩數量</label>
                <select class="custom-select rounded-sm" id="sex" aria-label="Example select with button addon">
                  <option value="1" selected="">1隻</option>
                  <option value="2">2隻</option>
                </select>
              </div>
              <div>
                <label>您的毛孩是</label>
                <select class="custom-select rounded-sm" id="sex" aria-label="Example select with button addon">
                  <option value="1" selected="">貓</option>
                  <option value="2">狗</option>
                </select>
              </div>
              <div>
                <label>年齡</label>
                <select class="custom-select rounded-sm" id="sex" aria-label="Example select with button addon">
                  <option value="1" selected="">1歲</option>
                  <option value="2">2歲</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <h2 class="d-block d-lg-none">預約項目</h2>
            <div class="d-flex flex-lg-column">
              <img class="reserve-img of-cover" src="./assets/images/homestay-3.jpeg" alt="">
              <div class="d-flex flex-column justify-content-center">
                <div class="d-flex flex-column flex-md-row align-items-md-center">
                  <h2>毛孩好家</h2>
                  <div>
                    <span class="material-icons">grade</span>
                    <span class="material-icons">grade</span>
                    <span class="material-icons">grade</span>
                    <span class="material-icons">grade</span>
                    <span class="material-icons">grade</span>
                  </div>
                </div>
                <div class="d-flex">
                  <span class="material-icons">location_on</span>
                  <p>高雄市苓雅區、新興區、前鎮區</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="button" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal">下一步</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>