<div class="successModal modal fade" id="successModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container d-flex justify-content-center text-center">
        <div class="text-primary">
          <span class="material-icons text-light-secondary mb-3 mb-lg-5">pets</span>
          <h2 class="mb-3">預約成功!</h2>
          <p class="mb-4 mb-md-10">您可以在會員頁找到您的預約資料並修改或取消預約。</p>
          <a href="login.html" class="successBtn btn btn-secondary w-100 fs-l lh-7 py-2">前往會員頁</a>
        </div>
      </div>
    </div>
  </div>
</div>