// search
.searchImg{
  @include pad(){
    width: 210px;
    height: 288px;
    padding-top: 104px;
  }
  @include mobile(){
    width: 400px;
    height: 352px;
    padding-top: 0px;
  }
}
.searchContent{
  max-width: 635px;
  @include pad(){
    margin-bottom: 229px;
  }
  @include mobile(){
    margin-bottom: 60px;
  }
  .custom-select:nth-child(1){
    width: 50%;
    @include pad(){
      width: 100%;
    }
  }
  .btn {
    padding: 8px 28px;
    border-radius: 0 0.25rem 0.25rem 0;
    @include pad(){
      border-radius: 0.25rem;
    }
  }
  @include mobile(){
    .searchText{
      text-align: center;
    }
  }
}
// demand
.demand{
  .col-md-4,
  .col-md-3,
  .col-md-2{
    padding: 0 3px;
    @include pad(){
      padding:0 2px;
    }
  }
  .col-12:nth-child(3) .col-12{
    margin-bottom: 6px;
    @include pad(){
      margin-bottom: 4px;
    }
  }
  .demandItem{
    height: 350px;
    position: relative;
    @include pad(){
      height: 210px;
    }
    @include mobile(){
      height: 132px;
    }
  }
  .demandItemItem{
    height: 172px;
    @include pad(){
      height: 103px;
    }
    @include mobile(){
      height: 132px;
    }
  }
}
.coverColor{
  filter: brightness(0.6);
  &:hover{
    filter: brightness(0.8);
  }
}
.serviceItem{
  position: absolute;
}

// wall
.wall{
  background-image: url("../../assets/images/index-9.jpeg");
  height: 584px;
  @include mobile(){
    height: 812px;
  }
  .wallTitle{
    margin-bottom: 100px;
    @include mobile(){
      margin-bottom: 47px;
    }
  }
}
.wallItem{
  border-left: 2px solid #FFFFFF;
  height: 212px;
  @include mobile(){
    height: 120px;
  }
}

//info
.infoImg{
  height: 160px;
}