.loginImg{
  width: 530px;
  height: 736px;
}
.loginContent{
  max-width: 635px;
  .loginTitle{
    padding-top: 112px;
    @include pad(){
      padding-top: 176px;
    }
    @include mobile(){
      padding-top: 60px;
    }
  }
  .loginBtn{
    border: 1px solid #CED4DA;
  }
}
.signIn{
  width: 40%;
  @include pad(){
    width: 100%;
  }
}
.register{
  margin-bottom: 80px;
  @include pad(){
    margin-bottom: 180px;
  }
  @include mobile(){
    margin-bottom: 122px;
  }
}