.reserveBigImg{
  height: 440px;
  @include pad(){
    height: 221px;
  }
  @include mobile(){
    height: 282px;
  }
  
}
.reserveSmallImg{
  width: 96px;
  height: 96px;
  @include pad(){
   width: 63px;
   height: 63px; 
  }
  @include mobile(){
    width: 82px;
    height: 82px; 
   }
}