.reserveImg{
  margin-bottom: 188px;
  @include mobile(){
    margin-bottom: 40px;
  }
}
.reserveBigImg{
  height: 440px;
  @include pad(){
    height: 221px;
  }
  @include mobile(){
    height: 282px;
  }
  
}
.reserveSmallImg{
  width: 96px;
  height: 96px;
  @include pad(){
   width: 63px;
   height: 63px; 
  }
  @include mobile(){
    width: 82px;
    height: 82px; 
   }
}
.reserve-Item{
  box-shadow: 0px 3px 6px #00000029;
  height: 255px;
  @include pad(){
    height: 250px;
  }
  @include mobile(){
    height: 297px;
  }
}
.reserveTitle{
  font-size: 28px;
  line-height: 42px;
}
.commentItem{
  border: 2px solid #DADFE3;
  .commentImg{
    width: 60px;
    height: 60px;
  }
  .commentTime{
    color: #887676;
  }
}