$fs-s: 14px;
$fs-m: 16px;
$fs-l: 20px;
$fs-xl: 24px;
$fs-2xl: 32px;
$fs-3xl: 40px;
$fs-4xl: 48px;

.bg-cover{
  background-position: center center;
  background-size: cover;
  background-repeat:no-repeat;
  
}
.of-cover{
  object-fit: cover;
}
// 文字大小
.fs-s{
  font-size: $fs-s;
}
.fs-m{
  font-size: $fs-m;
}
.fs-l{
  font-size: $fs-l;
}
.fs-xl{
  font-size: $fs-xl;
}
.fs-2xl{
  font-size: $fs-2xl;
}
.fs-3xl{
  font-size: $fs-3xl;
}
.fs-4xl{
  font-size: $fs-4xl;
}
@include pad(){
  .fs-lg-fs-l{
    font-size: $fs-l;
  }
  .fs-lg-2xl{
    font-size: $fs-2xl;
  }
}
@include mobile(){
  .fs-md-4{
    font-size: 16px;
  }
  .fs-md-5{
    font-size: 20px;
  }
  .fs-md-6{
    font-size: 24px;
  }
  .fs-md-7{
    font-size: 28px;
  }
}
// 行高
.lh-4{
  line-height: 16px;
}
.lh-5{
  line-height: 20px;
}
.lh-6{
  line-height: 24px;
}
.lh-7{
  line-height: 28px;
}
.lh-9{
  line-height: 36px;
}
.lh-10{
  line-height: 40px;
}
.lh-12{
  line-height: 48px;
}
.lh-15{
  line-height: 60px;
}
.lh-18{
  line-height: 72px;
}
@include pad(){
  .lh-lg-6{
    line-height: 24px;
  }
  .lh-lg-7{
    line-height: 28px;
  }
  .lh-lg-9{
    line-height: 36px;
  }
  .lh-lg-12{
    line-height: 48px;
  }
}
@include mobile(){
  .lh-md-6{
    line-height: 24px;
  }
  .lh-md-7{
    line-height: 28px;
  }
  .lh-md-9{
    line-height: 36px;
  }
  .lh-md-10{
    line-height: 40px;
  }
}
